{% if numNodos > 0 %}
version: "3.8"
services:

    nodo1:
        image: hauptmedia/mariadb:10.1
        container_name: nodo1
        hostname: node1
        restart: on-failure
        environment:
            - MYSQL_ROOT_PASSWORD=test
            - REPLICATION_PASSWORD=test
            - MYSQL_DATABASE=wordpress
            - MYSQL_USER=root
            - MYSQL_PASSWORD=test
            - GALERA=On
            - NODE_NAME=nodo1
            - CLUSTER_NAME=maria_cluster
            - CLUSTER_ADDRESS=gcomm://
        command: --wsrep_new_cluster
        networks:
            bridge02:
                ipv4_address: 192.168.2.101


    {% for i in range(2, numNodos + 1) %}
    
    nodo{{ i }}:
        image: hauptmedia/mariadb:10.1
        container_name: nodo{{ i }}
        hostname: nodo{{ i }}
        restart: on-failure
        environment:
            - REPLICATION_PASSWORD=test
            - GALERA=On
            - NODE_NAME=nodo{{ i }}
            - CLUSTER_NAME=maria_cluster
            - CLUSTER_ADDRESS=gcomm://nodo1
        networks:
            bridge02:
                ipv4_address: 192.168.2.{{ 100 + i }}


    {% endfor %}

    haproxy:
        image: haproxy:latest
        container_name: haproxy
        restart: on-failure
        depends_on:
          - nodo1
          {% for i in range(2, numNodos + 1) -%}  
          - nodo{{ i }}
          {% endfor %}
          
        ports:
          - 80:80
          - 1936:1936
          - 3306:3306
        volumes:
          - /home/ansible/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
        networks:
            frontend:
            bridge02:
                ipv4_address: 192.168.2.10
      
    wordpress:
        depends_on:
          - nodo1
          {% for i in range(2, numNodos + 1) -%}  
          - nodo{{ i }}
          {% endfor %}      
        image: wordpress:latest
        container_name: wordpress
        ports:
          - 8080:80
        environment:
          - WORDPRESS_DB_HOST=haproxy:3306
          - WORDPRESS_DB_USER=root
          - WORDPRESS_DB_PASSWORD=test
          - WORDPRESS_DB_NAME=wordpress
        volumes:
          - wp_data:/var/www/html
        networks:
          frontend:
          bridge02:
            ipv4_address: 192.168.2.20

volumes:
  wp_data:
            
networks:
  bridge02:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.2.0/24
  frontend:

{% else %}
    # ERROR: La cantidad de contenedores debe de ser numérica y mayor a 0.
{% endif %}