version: "3.8"
services:
  alpine:
    image: alpine:latest
    command: /bin/sh
    networks:
      matias01:
        ipv4_address: 192.168.1.151
networks:
  matias01:
    name:
    driver: macvlan
    driver_opts:
      parent: enp0s3
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1

