global
    maxconn 4096
    log /dev/log local0
    user root
    group root
    daemon

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend galera_frontend
    bind *:3306
    mode tcp
    option mysql-check user matias

    default_backend galera_backend

backend galera_backend
    mode tcp
    balance roundrobin
    option mysql-check user matias
{% if numNodos > 0 %}
    server nodo1 nodo1:{{ puerto + 1 }} check
    {% for i in range(2, numNodos + 1) -%}  
    server nodo{{ i }} nodo{{ i }}:{{ puerto + i }} check  
    {% endfor %}

{% else %}
{% endif %}