version: "3.8"

services:
  ubuntu:
    build:
      context: /home/ansible/.ansible/docker/Dockerfile
    container_name: host1
    networks:
      lan:
    command: sleep infinity

networks:
  lan:
    driver: macvlan
    driver_opts:
      parent: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1
